.contain{
    height: 1150px;
    width: 600px;
    border-radius: 10px;
    background-color: rgba(238, 21, 21, 0.653);
    color: white;
    margin-left: 395px;
    }
    .recipe{
        margin-left: 60px;
    }