.nav{
    background-color: gray;
}


.img{
   height: 300px; 
}
.btn{
    
    margin-left: 150px;
    background-color: gray;
    text-decoration: none;
    padding: 15px 0;
    cursor: pointer;

}
.card-title{
    font-size: 30px;
}
.card{
    margin: 50px;
}
.card
    :hover{
    transform: scale(0.9);
    transition: 2s;
}
.card-title{
    text-align: center;
}
.card{
    box-shadow:  10px 15px 18px lightblue;
}
.card-text{
    font-size: 20px;
}
.footer{
  
    color: white;
    display: flex;
    padding: 20px;
  }
  .freash{
    padding: 40px;
  }
  .pro2{
    padding: 40px;
  }
  .link1{
    padding: 35px;
  }
  .mark{
  display: flex;  
  }
  .text-footer{
    margin-left: 40vw;
    font-size: larger;
    margin-top: -35px;
    color: white;
  }
  .images11{
  height: 25px;  
  width: 25px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -30px;
  }
  .view{
    margin-left: 400px;
  }



  .recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background:grey ;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    }

.recipe-card2:hover{
  transform: scale(0.9);
  transition: 2s;
  
}
    .recipe-section2{
      width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(340px, 1fr));
      column-gap: 15px;
      
      
      }
      .recipe-card2{
      background: #ffffff;
      margin: 30px 10px;
      border-radius: 8px;
      border: px solid gray;
      overflow: hidden;
      box-shadow: 10px  15px 18px lightblue;
      }
      .recipe-card img{
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      }
      .recipe-card2 h2{
      font-size: 22px;
      padding: 20px;
      }
      .recipe-card2 p{
      font-size:18px ;
      padding: 20px;
      }
      .recipe-card2 a{
      display: block;
      text-align: center;
      text-decoration: none;
      background:grey ;
      color: white;
      padding: 15px 0;
      cursor: pointer;
      }
      .img4{
          height: 275px;
      } 



      @media screen and (max-width:350px)  {
        
        
      }













