.container{
background-image: url() ;
height: 1100px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}


.contain{
height: 1000px;
width: 600px;
border-radius: 10px;
background-color: rgba(238, 21, 21, 0.653);
color: white;
margin-left: 195px;
}
.recipe{
    margin-left: 60px;
}