.container{
background-image: url(https://c1.wallpaperflare.com/preview/920/553/130/cook-healthy-food-eat.jpg) ;
height: 1100px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.img{
    width: 100vw;
    overflow-y: hidden;
}
.nav{
    background-color: gray;
}

.contain{
height: 950px;
width: 600px;
border-radius: 10px;
background-color: rgba(238, 21, 21, 0.653);
color: white;
margin-left: 400px;
}
.recipe{
    margin-left: 60px;
}
.flex{
   display: flex;
}
.flex2{
    margin-left: 300px;
    font-size: 18px;
}
.flex3{
    margin-left: 100px;
    font-size: 18px;
}
.im2{
    margin-left: 300px;
    border-radius: 15px;
}
.footer{
  
    color: white;
    display: flex;
    padding: 20px;
  }
  .freash{
    padding: 40px;
  }
  .pro2{
    padding: 40px;
  }
  .link1{
    padding: 35px;
  }
  .mark{
  display: flex;  
  }
  .text-footer{
    margin-left: 40vw;
    font-size: larger;
    margin-top: -35px;
    color: white;
  }
  .images11{
    height: 25px;  
    width: 25px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -30px;
    }
    .view{
      margin-left: 400px;
    }